workflow.json
{
  "name": "Test Webhook from Scalev",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-scalev-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-160, 0],
      "id": "04653670-9a62-4f9e-bf8d-c7b04d326472",
      "name": "Webhook",
      "webhookId": "19c7153e-2fb0-49cc-8e39-ceb44d490b1c"
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "SHA256",
        "value": "={{ $json.body.toJsonString() }}",
        "dataPropertyName": "hmac-sha256",
        "secret": "YOUR_SCALEV_WEBHOOK_CLIENT_SECRET",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [60, 0],
      "id": "22cd88cd-7f2b-45c4-928b-ffb944884231",
      "name": "Validate Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "93454a9d-cef3-4fef-bb26-a07047046a67",
              "leftValue": "={{ $json['hmac-sha256'] }}",
              "rightValue": "={{ $('Webhook').item.json.headers['x-scalev-hmac-sha256'] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [280, 0],
      "id": "5978bf2d-a844-4efb-aa6b-2fce45786cf0",
      "name": "Is Request Valid?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"forbidden\",\n  \"message\": \"invalid X-Scalev-Hmac-Sha256\"\n}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [560, 100],
      "id": "aac32fe8-910f-4709-a130-b2ab5fed2120",
      "name": "Response Forbidden",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "OPTIONS",
        "url": "https://webhook.site/d676aa6c-bc38-4170-8f04-67b8abf1ccda",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "send request from N8N"
            },
            {
              "name": "request",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text",
              "outputPropertyName": "=data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, -120],
      "id": "4233d1f3-dc5f-4355-b19b-285beb3cdda1",
      "name": "Request To WebhookSite",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"message\": \"N8N success recieve your webhook\",\n  \"request\": {{ $('Webhook').item.json.body.toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [780, -120],
      "id": "ed4cbd60-3742-49b8-9685-62af4e7d6018",
      "name": "Respond Success"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Is Request Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Request Valid?": {
      "main": [
        [
          {
            "node": "Request To WebhookSite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request To WebhookSite": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "66c66e02-98ba-440c-9727-6789a9c3d5e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "384c6f77765d9667896f06b65e0993511e834bd65ff73078acf2b4516bcbfe9b"
  },
  "id": "bKtRjmuZCAJIlloV",
  "tags": []
}
